<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <h1>CSE Motors</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Custom</a></li>
            <li><a href="#">Sedan</a></li>
            <li><a href="#">SUV</a></li>
            <li><a href="#">Truck</a></li>
        </ul>
    </nav>

    <section class="layout">
        <h2>Welcome to CSE Motors</h2>
        <div class="back">
            <img src="/public/images/vehicles/delorean.jpg" alt="Car">
            <div class="banner">
                <h3>DMC Delorean</h3>
                <p>3 Cup holders</p> 
                <p>Superman doors</p>
                <p>Fuzzy dice!</p> <br>
                <button>Own Today</button>
            </div>
        </div>
        
    </section>

    <div class="lastportion">
        <section class="options">
            <h2>Delorean Upgrades</h2>
            <div class="up">
                <div class="upgrades">
                    <h3>Flux Capacitor</h3>
                    <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <div class="upgrades">
                    <h3>Flame Decals</h3>
                    <img src="/public/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <div class="upgrades">
                    <h3>Bumper Stickers</h3>
                    <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <div class="upgrades">
                    <h3>Hub Caps</h3>
                    <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
            </div>
        </section>
    
        <section class="options">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </div>

    <footer>
        <p>&copy; 2023, CSE 340 App</p>
    </footer>

</body>

</html>